div {
    background-color: yellow;
}

body {
    width: 80%;
    margin: auto;
}

table {
    margin: auto;
}

.error {
    color: red;
    font-size: 1.5em;
}

.correct {
    color: green;
    font-size: 1.5em;
}

label {
    font-weight: bold;
    font-size: 1.5em;
}